@page
@model gestionpresence.Areas.Admin.Pages.Groupes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Groupe</h4>
<hr />
<span class="text-danger">@Model.erreurmessage</span>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Groupe.Numero" class="control-label"></label>
                <input asp-for="Groupe.Numero" class="form-control" />
                <span asp-validation-for="Groupe.Numero" class="text-danger"></span>
            </div>
            
                <input asp-for="Groupe.FiliereId" value="@Model.idfiliere" hidden/>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" asp-route-id="@Model.idfiliere">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
