@page
@model gestionpresence.Areas.Admin.Pages.FiliereMatieres.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FiliereMatiere</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
           
            <input asp-for="FiliereMatiere.FiliereId" value="@Model.idfiliere" hidden />

            <div class="form-group">
                <label asp-for="FiliereMatiere.MatiereId" class="control-label"></label>
                <select asp-for="FiliereMatiere.MatiereId" class ="form-control" asp-items="ViewBag.MatiereId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FiliereMatiere.ProfId" class="control-label"></label>
                <select asp-for="FiliereMatiere.ProfId" class ="form-control" asp-items="ViewBag.ProfId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
