@page
@model gestionpresence.Areas.Admin.Anneesuniversitaires.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AnneeUniversitaire</h4>
<hr />

<p class="text-danger">@Model.statusmsg</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AnneeUniversitaire.ID" />
            <div class="form-group">
                <label asp-for="AnneeUniversitaire.Annee" class="control-label"></label>
                <input asp-for="AnneeUniversitaire.Annee" class="form-control" />
                <span asp-validation-for="AnneeUniversitaire.Annee" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input id="anneecheck" class="form-check-input" asp-for="AnneeUniversitaire.AnneeCourante" /> @Html.DisplayNameFor(model => model.AnneeUniversitaire.AnneeCourante)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Retour à la liste</a>
</div>

@section Scripts {

    <script>

    $(document).ready(function(){
      if ($('#anneecheck').is(':checked')) {
          $('#anneecheck').attr("disabled", true);} });
      </script>

   
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
