@page
@model gestionpresence.Areas.Admin.Niveaux.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Niveau</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @Model.ErrorMessage
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Niveau.Numero" class="control-label"></label>
                <input asp-for="Niveau.Numero" class="form-control" />
                <span asp-validation-for="Niveau.Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Niveau.AnneeUniversitaireId" class="control-label"></label>
                <label >@ViewBag.AnneeUniversitaire</label>
                <input asp-for="Niveau.AnneeUniversitaireId" value="@Model.AnneUId" class="form-control" hidden/>
                
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
