@page
@model gestionpresence.Areas.Admin.Niveaux.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Niveau</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Niveau.ID" />
             <select  asp-for="Niveau.Numero" class="form-control">

                    <option value="1">Première année</option>
                    <option value="2">Deuxième année</option>
                    <option value="3">Troisième année</option>
                    <option value="4">Quatrième année</option>
                    <option value="5">Cinquième année</option>
                </select>

            <div class="form-group">
                <label asp-for="Niveau.AnneeUniversitaireId" class="control-label"></label>
                <input asp-for="Niveau.AnneeUniversitaireId" class="form-control" asp-items="ViewBag.AnneeUniversitaireId"></select>
                <span asp-validation-for="Niveau.AnneeUniversitaireId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
