@page
@model gestionpresence.Areas.Admin.Salles.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Salle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Salle.ID" />
            <div class="form-group">
                <label asp-for="Salle.Libelle" class="control-label"></label>
                <input asp-for="Salle.Libelle" class="form-control" />
                <span asp-validation-for="Salle.Libelle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salle.CodePointeur" class="control-label"></label>
                <input asp-for="Salle.CodePointeur" class="form-control" />
                <span asp-validation-for="Salle.CodePointeur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salle.EcoleSiteId" class="control-label"></label>
                <select asp-for="Salle.EcoleSiteId" class="form-control" asp-items="ViewBag.EcoleSiteId"></select>
                <span asp-validation-for="Salle.EcoleSiteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
