@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <p>Welcome !</p>
</div>


<div class="container">

    <div class="row">

        <div class="col-md-4">
                <a class="" asp-area="Admin" asp-page="/AnneesUniversitaires/Index">Années Universitaires</a>
                      

        </div>
          <div class="col-md-4">
                <a class="" asp-area="Admin" asp-page="/Niveaux/Index">Niveaux</a>
                      
        </div>
        

        
        </div>
    </div>
</div>

