@page
@model MyApp.Namespace.sosoModel
@{
}

<input id="basta" type="text" />
<div id="res"></div>

<button id="mybtn">zbi</button>


@section Scripts {
<script>

  $(document).ready(function(){

$("#mybtn").click(function(){

 $.ajax({
         
        url: '?handler=TestMethod',
        type: 'GET',
        dataType: 'json',
        data: {id: $("#basta").val()},
        success: function(result){

            $("#res").text(result.id+"  "+result.name);


     
    }});
});
   

});
</script>

}