@page
@model gestionpresence.Areas.Admin.Pages.Utilisateurs.AddUsersModel
@{
    ViewData["Title"] = "Nouvel Utilisateur";
 
}




<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-4">
        <form  method="post">
            <h4></h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Nom"></label>
                <input asp-for="Input.Nom" class="form-control" />
                <span asp-validation-for="Input.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
              <label asp-for="Input.Prenom"></label>
                <input asp-for="Input.Prenom" class="form-control" />
                <span asp-validation-for="Input.Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input id="uemail" asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label >Role</label><br>
                <select style="width:100%" id="roles" asp-for="Input.RoleId" asp-items="Model.rolesoptions" class="form-controle"></select>
                <span asp-validation-for="Input.RoleId" class="text-danger"></span>
            </div>
            <div   class="form-group rfidsection">
              <label asp-for="Input.CodeRFID"></label>
                <input id="rfid"  asp-for="Input.CodeRFID" class="form-control" />
                <span asp-validation-for="Input.CodeRFID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
       <!-- <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
               
                    
                }
            }
        </section>-->
    </div>
</div>

@section Scripts {
    
<script>
    $(document).ready(function(){
/*$("#roles").prop('selectedIndex',2);


              if(  $("#roles option:selected").text()!="Etudiant"){
        $("#rfid").val($("#uemail").val());
         //$(".rfidsection").hide();
          }
          else{
             $("#rfid").val("");
              $(".rfidsection").show(); 
          }

       $("#roles").change(function(){


          if(  $("#roles option:selected").text()!="Etudiant"){
        $("#rfid").val($("#uemail").val());
        // $(".rfidsection").hide();  
          }
          else{
             $("#rfid").val("");
              $(".rfidsection").show(); 
          }

            

           
       });*/

    });
    
    </script>
    
   @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
